<div id="banner">
    <div id="banner-icon"><img id="logo" src="https://img.icons8.com/wired/64/ffffff/the-flash-sign.png"/></div>
    <span id="banner-text" class="banner-flex-item">Xposr</span>
</div>