<div class="form-container">
    <header class="form-header">
        <h1>Welcome Back!</h1>
    </header>
    <form id="login-forme" class="form-grid form-grid-login" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">

        {{!-- <label for="username">Username</label> --}}
        <input class="text-input log-input-uname" id="username" type="text" placeholder="Username" required
            name="username" />

        {{!-- <label for="passwd">Password</label> --}}
        <input class="text-input log-input-passwd" id="passwd" type="password" placeholder="Password" required name="password" />

        <button id="submit" type="submit" class="btn btn-success login-submit">Submit</button>
        <button id="cancel" type="reset" class="btn btn-danger login-reset">Cancel</button>
    </form>
    <div id="make-account">
        Do not have an account?
        <a href="/registration" id="link">Register Here!</a>
    </div>
</div>