.form-container{
    display: grid;
    grid-template-rows: max-content;
    justify-self: center;
    justify-content: space-evenly;
    row-gap: 1rem;
    align-self: center;
    padding: 1.5rem;
    grid-area: 2 / 1 / 4 / 5;
    border-radius: 1rem;
    box-shadow: 5px 5px 50px var(--acc1);
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

.form-header{
    max-height: 100px;
    max-width: auto;
    text-align: center;
    padding: 0rem 1rem;
    border-radius: .25rem;
    background-color: var(--card);
    box-shadow: 2px 2px 2px var(--acc2);
    box-sizing: border-box;
}

.form-grid{
    grid-row: 2 / 3;
    display: grid;
    align-self: center;
    gap: .5rem .2rem;
    grid-template-columns: repeat(1, 1fr);
}

.text-input{
    padding: 1em;
    border-radius: 5rem;
    background-color: white;
    color: black;
    border: none;
    float: right;
}

.btn{
    padding: .5em;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 1rem;
    border: none;
}

.btn-success{
    background-color: var(--acc1);
    font-weight: bold;
}

.btn-danger{
    background-color: var(--card);
    font-weight: bold;
}

input[type=submit]:hover{
    background-color: var(--banner);
    color: white;
}

/***POSTIMAGE***/
#img-select{
    padding: .5rem;
    background-color: var(--bnnr);
    border-radius: 1rem;
    color: var(--text);
    text-align: center;
}