@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --main-bkgd: rgb(5, 5, 5);
    --bnnr: #123731;
    --nav: #4D774E;
    --text: white;
    --text2: var(--acc1);
    --hvr: var(--bnnr);
    --card: #123731;
    --acc1: #F1B24A;
    --acc2: #9DC88D;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bkgd);
    min-width: 420px;
    max-height: 95vh;
}

#container{
    width: 90%;
    height: 95vh;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr .5fr 5fr .3fr;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "banner banner banner banner"
    "nav nav nav nav"
    "content content content content"
    "footer footer footer footer"
    ;
}

#link{
    color: var(--acc1);
}

/**HEADER*******************************/
    /* BANNER */
        #banner{
            grid-area: banner;
            background-color: var(--bnnr);
            display:flex;
            padding-left: 2rem;
            justify-content: start;
            align-items: center;
            height: 100%;
        }

        .banner-flex-item{
            text-align: center;
            padding: .5em;
        }

        #logo{
            width: 60px;
            height: auto;
        }

        #banner-text{
            color: var(--acc1);
            font-family: 'Modak', cursive;
            font-size: 300%;
            font-style: italic;
        }

        @media screen and (max-width:550px){
            #banner-text{
                display:none;
            }

            #banner-icon{
                align-self: stretch;
                justify-self: stretch;
            }
        }

    /* NAV BAR */
        #nav-bar{
            grid-area: nav;
            background-color: var(--nav);
            color: var(--text);
            display: flex;
            flex-flow:row wrap;
            padding: 1rem;
        }

        .nav-items{
            margin-left: .2rem;
            margin-right: .2rem;
        }

        

        .anchor-buttons{
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;
            color: var(--text);
            text-align: center;
            line-height: 2rem;
            border-radius: .25rem;
            font-weight: bold;
            font-size: larger;
            padding-left: .25rem;
            padding-right: .25rem;
        }

        .anchor-buttons > img{
            transform:translate(0, .4rem);
        }
        
        .anchor-buttons:hover{
            box-shadow: none;
            padding: 0;
            color: var(--text2);
            background-color: var(--hvr);
            padding-left: .25rem;
            padding-right: .25rem;
        }

        #homebutton{
            flex-grow: 1;
            text-align: center;
            border-radius: .25rem;
            order: 0;
            vertical-align: middle;
            background-color: var(--bnnr);
        }

        #homebutton:hover{
            box-shadow: none;
            background-color: var(--acc2);
        }


        #post-button{
            flex-grow: 1;
            order: 3;
        }
        
        .login-button{
            flex-grow: 1;
            order: 4;
        }
        
        @media screen and (max-width:500px){
            #post-button{
                order: 4;
                margin-top:0.2em;
            }
        
            #login-button{
                order: 3;
            }
        }

        /* SEARCH */
            #search-text{
                flex-grow: 10;
                order:1;
            }
            
            #search-button{
                flex-grow: .5;
                background-color: var(--acc1);
                border-radius: 0 .2rem .2rem 0;
                order:2;
                margin-left: -.2rem;
                vertical-align: middle;
                text-align:center;
                align-self: stretch;
                line-height: 2;
            }
            
            #search-button:hover{
                background-color: var(--bnnr);
                cursor: pointer;
            }

/**FLASH MESSAGE*******************************/
#flash-msg{
    background-color: var(--acc1);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 1rem;
    padding: .7rem;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    z-index: 9999;
}

#flash-msg div{
    text-align: center;
}

/**MAIN CONTENT*******************************/
#main-content{
    grid-area: content;
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    gap: 1rem 1rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

@media screen and (max-width: 950px){
    #main-content{
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 700px){
    #main-content{
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 450px){
    #main-content{
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr 1fr 1fr;
    }
}

/**CARD*******************************/
.card{
    display: grid;
    grid-template-rows: 168px 150px;
    grid-template-columns: auto;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px var(--acc2);
}

.card-image{
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 1rem 1rem 0 0;
}

div[class=card] > img {
    height: 100%;
    width: 100%;
}

.card-title{
    color: var(--text);
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: .1rem;
    margin-top: 0;
    padding-top: .1rem;
}

.card-body{
    grid-area: 2 / 1 / 3 / 2;
    padding: .75rem;
    background-color: var(--card);
    border-radius: 0 0 1rem 1rem;
} 

.card-text{  
    color: var(--text);
    font-family: 'Roboto', sans-serif;
}

.card-btn{
    text-align: left;
    text-decoration: none;
    color: var(--text);
    text-align: center;
    justify-self: self-end;
}

.card-btn:hover{
    box-shadow: none;
    padding: 0;
    color: var(--acc1);
}

/**POSTS*******************************/
#post-container{
    grid-area: content;
    padding-top: .35em;
    padding-bottom: .35em;
    display: grid;
    grid-gap: 1rem;   
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "photoinfo comments";
}

#photo-container{
    display: flex;
    height: 90%;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: photoinfo;
    box-shadow: 1px 1px 25px var(--acc1);
    background-color: var(--main-bkgd);
    border-radius: 2rem;
    text-align: center;
}

#post-info{
    display:inline-block;
    vertical-align: middle;
    color: var(--text);
}

div[id=post-info] > p{
    margin-bottom: .2em;
}

div[post-container] > div[id^=post-]{
    flex-grow: 1;
    flex-shrink: 1;
}

div[post-container] > img[id^=post-]{
    flex-grow: 1;
    flex-shrink: 1;
}

/**COMMENTS/MESSAGES*******************************/
#comment-container{
    display: grid;
    grid-area: comments;
    grid-template-rows: auto 75px;
    grid-template-columns: 1fr;
    gap: .2rem;
    grid-template-areas:
    "messages"
    "comment-box";
    max-height: 80vh;
}

#messages{
    grid-area: messages;
    overflow-y: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
    scroll-behavior: smooth;
    border-radius: 2rem;
    max-height: 60vh;
    padding: 0rem .5rem;
}

div[id^=message-]{
    display: grid;
    max-height: 5.5rem;
    grid-template-rows: .3fr 1fr;
    grid-template-columns: 1fr 2fr;
    gap: .1rem;
    margin: .3rem;
    font-size: 1 rem;
    background-color: var(--card);
    border-radius: 1rem;
    grid-template-areas:
    "author created"
    "comment comment";
}

.author-text{
    grid-area: author;
    justify-self: start;
    color: var(--acc2);
    margin: .5rem;
}

.comment-text{
    grid-area: comment;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50px;
    min-height: 50px;
    color: var(--text);
    margin: .5rem;
}

.date-posted{
    grid-area: created;
    justify-self: end;
    color: var(--text);
    margin: .5rem;
}

#comment-box{
    padding: .2rem;
    display: flex;
    background-color: var(--card);
    grid-area: comment-box;
    border-radius: .5rem;
    width: 92%;
    justify-self: center;
}

#comment-box-text{
    flex-grow: 8;
    padding: .25rem;
    margin: .25rem;
    background-color: var(--acc2);
    resize: none;
}

#comment-box-button{
    padding: .25rem;
    margin: .25rem;
    line-height: 2;
    background-color: var(--acc1);
    font-size: 1.5 rem;
    cursor: pointer;
    border-radius: .5rem;
}

#comment-box-button > img{
    transform:translate(0, .7rem);
}

#comment-box-button:hover{
    background-color: var(--bnnr);
}

/**FOOTER*******************************/
#footer{
    width: 100%;
    background-color:var(--bnnr);
    grid-area: footer;
    justify-self: center;
    text-align: center;
    padding: .25rem .25rem;
    border-radius: 0 0 .25em .25em;
    vertical-align: middle;
}

#footer-name{
    text-align: center;
    font-size: 1rem;
    color: var(--text);
}